/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 12%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.main-text-area,
.date-holder {
  border-bottom: 1px solid black;
}

.date-holder {
  color: rgb(247, 5, 5);
  padding: 10px;
}

.main-text-area {
  flex: 1;
}

#noteSubmitBtn {
  border-color: transparent;
  background-color: transparent;
}
#noteSubmitBtn div {
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  background-color: rgb(219, 219, 219);
}

button div:hover {
  cursor: pointer;
}

.textInput-box input {
  border: 2px solid black;
  display: block;
}
.textInput-box {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.notes {
  display: flex;
  flex-wrap: wrap;
}

.note-item > div {
  display: flex;
  align-items: center;
  gap: 0.25em;
  padding-left: 10px;
}

.note-item {
  list-style: none;
  user-select: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  height: 40px;
  align-items: center;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border: 2px solid black;
}
.eraseNotesBtn {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  margin-right: 10px;
}

.eraseNotesBtn :hover {
  cursor: pointer;
}
.line-through {
  text-decoration:line-through;
  color: gray;
}